h1{background-color:moccasin;font-size:50px;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
li {
  border-right: 1px solid #bbb;
}
ul {
  border: 1px solid #e7e7e7;
  
}
ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.ed{
	border:2px solid black;
}
.pr{
	border:2px solid black;
}
.tr{
	border:2px solid black;
}
#na{
	margin:-10px;
}
#ra{
	height:50px;
}
#lan{
	font-size:20px;
}
#rh{
	align:right;
}
.image{
	position:relative;
	width:100%;
}
.i{
	position:absolute;
	top:200px;
	left:0;
	width:100%;
}